{% extends 'base.html.twig' %}

{% block title %}
	Accueil
{% endblock %}

{% block body %}
	{% include "pet/menu.html.twig" %}
	<h1 class="border border-dark rounded p-2 m-2 text-white bg-primary center">
		{% block mytitle %}welcome to my pet website
		{% endblock %}
	</h1>

	{% for p in pet  %}

		<div class="bloc-pets d-flex justify-content-center ">
			<div class="container ">
				<div class="row align-items-center justify-content-center">
					<div class="col-2">
						<img src="{{asset('images/'~ p.image)}}">
					</div>
					<div class="col-auto">
						Name :{{ p.nom }}
						<br>
						Description :{{ p.description }}
					</div>


				</div>
			</div>
		</div>

	{% endfor %}


{% endblock %}
